body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

p {
  color: #8f8f8f;
}

/* Headings */
.big-heading {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;

}
.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */
.container-fluid {
  padding: 7% 15%;
}

/* Sections */

.colored-section {
  background-color: #ff4c68;
  color: white;
}
.white-section {
  background-color: white;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem 15px;
}
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2rem;
  font-weight: bold;
}
.nav-item {
  padding: 0 18px;
}
.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
}

/* Title Section */

#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}
.row {
  margin-left: 0;
}
.download-button {
  margin: 3% 2% 1% 0;
}
.title-image {
  width: 60%;
  transform: rotate(25deg);
  right: 30%;
  position: absolute;
}

/* Features Section*/
#features {

  z-index: 1;
  position: relative;
}
.feature-title {
  font-size: 1.5rem;

}
.feature-logos {
  color: #ef8172;
  margin-bottom: 1rem;
}
.feature-logos:hover {
  color: #ff4c68
}
.feature-box {
  padding: 5%;
}

/* Testimonials Section */
#testimonials {
  background-color: #ef8172;
}
.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}
.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}
.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */
#pricing {
  padding: 100px;
}
.price-text {
  font-size: 3rem;
  line-height: 1.5;
}
.pricing-col {
  padding: 3% 2%;
}

@media (max-width: 1000px) {

  #title {
    text-align: center;
  }
  .title-image {
    position: static;
    transform: rotate(0);
  }
}

/* Footer */

.social-button {
  margin: 3% 0 1%;
}
